html {
  height: 100%;
  width: 100%;
}

body {
  background: url('./images/stetho4.jpeg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

div#display-div {
  display: none;
}

.container {
  background: #1b2b43;
  padding: 25px;
  margin: 100px auto;
  border-radius: 20px; 
}

h1 {
  text-align: center;
  font-size: 100px;
  margin-top: 50px;
  font-weight: bold;
  color: ghostwhite;
}

h5 {
  text-align: center;
  font-weight: bold;
  color: ghostwhite;
}

.input-div {
  width: 50%;
  margin: 0 auto;
}

input#condition-input {
  min-width: 75%;
  margin: 50px auto 50px auto;
  height: 40px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

}

button {
  height: 40px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-right: 10px;
  background-color: green;
  color: white;
}

li {
  list-style: none;
  border: 1px solid black;
  background-color: ghostwhite;
  padding-left: 20px;
  max-width: 50%;
  margin: 0 auto;
}

.doc-name {
  font-weight: bolder;
  font-size: 20px;
  margin-top: 20px;
}
